/*LOGIN SECTION*/
.login {
  padding: 0px 42px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 1rem;
}
input {
  font-size: 15px;
  padding: 15px;
  border: 1px solid #eaeced;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border: 1px solid #0070ba;
}
.login p {
  font-family: helvetica;
  font-size: 15px;
  color: #0070ba;
  font-weight: lighter;
}
.login button {
  cursor: pointer;
  text-decoration: none;
  font-family: helvetica;
  font-size: 15px;
  background-color: #0070ba;
  transition: background-color 0.5s;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 15px;
  border-radius: 5px;
}
.login button:hover {
  background-color: #0f54a9;
}
.login button:last-child {
  width: 100%;
  background-color: #cad2d6;
}
.login button:last-child:hover {
  background-color: #b8bec1;
}

.signup-container {
  position: relative;
  border-top: 1px solid #cbd2d6;
  text-align: center;
  margin: 15px 0 15px;
}
.signup-wrapper {
  position: absolute;
  top: -1.1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: helvetica;
  font-weight: lighter;
}
.signup-container span {
  padding: 0.5rem;
  background-color: #fff;
  color: grey;
}

/*RESPONSIVE SECTION*/
@media (max-width: 760px) {
  .login {
    padding: 42px 20px;
  }
}
@media (max-width: 460px) {
  .login p {
    font-size: 14px;
  }
  input {
    font-size: 14px;
  }
}
