/*MAIN SECTION*/
main {
  width: 100%;
  height: auto;
}
.main-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.section {
  width: 460px;
  height: auto;
  border: 1px solid #eaeced;
  border-radius: 5px;
  position: relative;
  margin-bottom: 200px;
}
.branding {
  display: flex;
  justify-content: center;
  padding: 50px 20px 20px;
}
.branding img {
  width: 110px;
}

/*RESPONSIVE SECTION*/
/*MOBILE*/
@media (max-width: 760px) {
  .branding {
    padding: 0;
  }
  .section {
    width: 100%;
    height: auto;
    border: none;
    margin-bottom: 0;
  }
}
